[Desktop Entry]
Encoding=UTF-8
Name=CryptoInvest
Comment=CryptoInvest P2P Cryptocurrency
Comment[fr]=CryptoInvest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CryptoInvest, eşten eşe kriptografik sanal para birimi
Exec=cryptoinvest-qt %u
Terminal=false
Type=Application
Icon=cryptoinvest128
MimeType=x-scheme-handler/cryptoinvest;
Categories=Office;Finance;
